@using System.Web.Mvc.Html
@model AccessControl.Models.Access




@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/myStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Jura:700" rel="stylesheet">

    <title>Create new user</title>
</head>
<body  class="panel-gradient">
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

        <div class="row row-administrator">
            <div class="col-12" align="center"><h4>New User</h4></div>
        </div>

        <hr/>

        <div class="form-horizontal">
            
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                
                @Html.LabelFor(model => model.Active, new {@class = "col-form-label  col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "form-control-check"}})
                        @Html.ValidationMessageFor(model => model.Active, "", new {@class = "text-danger"})
                    </div>
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Profile, new {@class = "col-form-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Profile,
                        new SelectList(Enum.GetValues(typeof (AccessControl.Models.Profiles))),
                        new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Profile, "", new {@class = "text-danger"})
                </div>
            </div>

    
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Go to List", "Index")
    </div>
</body>
</html>
