@model AccessControl.Models.Access

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/myStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Jura:700" rel="stylesheet">
    
    <title>Delete User</title>
</head>
<body>


    <div class="row row-administrator">
        <div class="col-12" align="center"><h4>Delete</h4></div>
    </div>
    <hr />


    <div class="container flex-centralizado border-radius-red">
        <h3>Are you sure you want to delete user?</h3>
    </div>

<hr/>

    <b>Profile: </b><div><h4 style="color: red">@Model.Profile</h4></div>
    <b>Name:    </b><div><h4 style="color: red">@Model.LastName, @Model.Name</h4></div>
    <b>Email:   </b><div><h4 style="color: red">@Model.Email</h4></div>

<hr/>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger"/>
    </div>
    <br/>
    <div>@Html.ActionLink("Go to List", "Index")</div>
}
</body>
</html>
